<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <script src="jquery-min.js"></script>
    <script src="home.js"></script>

</head>
<body>
<h1>Hello World</h1>

<div class="main">
    <table id="table_data">
        <tr class="row_header">
            <td class="col_id">
                Id
            </td>
            <td class="col_name">
                Name
            </td>
            <td class="col_price">
                Price
            </td>
        </tr>

    </table>
</div>


<script type="text/javascript">
<!--var settings = {-->
<!--  "url": "localhost:8081/parts",-->
<!--  "method": "GET",-->
<!--  "timeout": 0,-->
<!--};-->

<!--$.ajax(settings).done(function (response) {-->
<!--  console.log(response);-->
<!--});-->




</script>

</body>
</html>